.knowledge-tab
    .support-blk
        .row
            .col-md-4.col-xs-4
                a.sp-blk(href="#")
                    i.fa.fa-question-circle-o
                    | FAQs
            .col-md-4.col-xs-4
                a.sp-blk(href="#")
                    i.fa.fa-book
                    | Documentation
            .col-md-4.col-xs-4
                a.sp-blk(href="#")
                    i.fa.fa-ticket
                    | Opnen ticket
    .support-blk
        .row
            .col-md-6.col-xs-12
                h3 Popular Questions
                .popular-quest
                    #accordion.panel-group(role='tablist', aria-multiselectable='true')
                        .panel.panel-info
                            #headingOne.panel-heading(role='tab')
                                h4.panel-title
                                    a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                        | How am I billed for my instances?
                            #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
                                .panel-body
                                    | All virtual machines on your account are billed hourly up to the monthly rate cap. The hourly rate is determined by dividing the monthly rate by 672 hours (28 days). If your machine is online for more than 672 hours in a calendar month, you will only be billed the monthly rate. Accumulated charges are invoiced to your account on the 1st of every month.
                        // END: PANEL QUESTION
                        .panel.panel-info
                            #headingTwo.panel-heading(role='tab')
                                h4.panel-title
                                    a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='true', aria-controls='collapseTwo')
                                        | Do you charge for stopped instances?
                            #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                                .panel-body
                                    | Yes, instances in a stopped state continue to reserve dedicated system resources (RAM, SSD storage, IP aliases, CPU) and therefore incur charges until you destroy the instance. If you wish to no longer accumulate charges for a virtual machine, please use the DESTROY button in the customer portal.
                        // END: PANEL QUESTION
                        .panel.panel-info
                            #headingThree.panel-heading(role='tab')
                                h4.panel-title
                                    a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='true', aria-controls='collapseThree')
                                        | What operating system templates do you offer?
                            #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                                .panel-body
                                    | See our full list of 
                                    a(href="#") operating systems.
                        // END: PANEL QUESTION
                        .panel.panel-info
                            #headingFour.panel-heading(role='tab')
                                h4.panel-title
                                    a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFour', aria-expanded='true', aria-controls='collapseFour')
                                        | Does VAT apply for European Union customers?
                            #collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFour')
                                .panel-body
                                    | Vultr.com is required to collect VAT (Value Added Tax) for customers that reside in the EU. VAT is not charged to Business or Charity customers that provide a valid VAT registration. You may enter your VAT registration in your customer portal's settings section. Our prices do not include VAT - VAT will be added to your invoice as a separate line item.
                        // END: PANEL QUESTION
                        .panel.panel-info
                            #headingFive.panel-heading(role='tab')
                                h4.panel-title
                                    a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFive', aria-expanded='true', aria-controls='collapseFive')
                                        | How do Dedicated Instances differ from Compute Instances?
                            #collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFive')
                                .panel-body
                                    | Dedicated Cloud Instances offer resources allocated to you with no noisy neighbors. You can rent 25%, 50%, 75%, or an entire dedicated server with the advantages of the Vultr Platform including hourly billing and fast provisioning.
                        // END: PANEL QUESTION
                    .form-group
                        a.submit-frm.text-center(href="#") View all
            .col-md-6.col-xs-12
                h3 Popular Documentation Categories
                ul.support-list
                    li 
                        a(href="#")
                            i.fa.fa-question-circle
                            | FAQs
                    li 
                        a(href="#")
                            i.fa.fa-linux
                            | Linux guides
                    li 
                        a(href="#")
                            i.fa.fa-windows
                            | Windows guides
                    li 
                        a(href="#")
                            i.fa.fa-server
                            | Server apps
                    li 
                        a(href="#")
                            i.fa.fa-globe
                            | Web servers
                .form-group
                    a.submit-frm.text-center(href="#") View all