.backup-tab
    .head-opt
        .row
            .col-md-6.col-xs-6
                .filter.show-itm
                    label Show:
                    select
                        option(value="") 5
                        option(value="") 10
                        option(value="") 20
                        option(value="") 30
                    //- a.add-new(href="#") Add iso
            .col-md-6.col-xs-6
                .filter.text-right
                    label Sort by:
                    select
                        option(value="") Label
                        option(value="") Location
                        option(value="") Tag
                        option(value="") Date Created
    table.table
        tr
            th.chk-all.chk-td 
                input#chk-all(type='checkbox')
                label(for='chk-all')
            th Name
            th OS
            th Size
            th Date
            th Status
            th
        tr
            td.chk-td
                input#chk-1(type='checkbox')
                label(for='chk-1')
            td
                p.server-name Win10_1511_English_x64_LuanTran_HocVPS.iso
            td
                .os-ico.cent-os
            td 
                p 4,023 MB
            td 
                p 2017-03-09 09:25:31
            td
                p
                    span.status-run.server-status 
                    | Available
            td.text-center
                a.tb-opt(href="javascript:;")
                    i.fa.fa-trash
    nav(aria-label="")
        ul.pager
            li
                a(href='#') Previous
            li
                a(href='#') Next

    .tab-note
        .tab-note-itm
            h3 1. Using Backups
            p 
                | Use our daily backups feature to automatically backup your instances. 
                a(href="#") Read more about backups here.