.block-storage-tab
    .head-opt
        .row
            .col-md-6.col-xs-6
                .filter.show-itm
                    label Show:
                    select
                        option(value="") 5
                        option(value="") 10
                        option(value="") 20
                        option(value="") 30
                    a.add-new(href="#") Add block storage
            .col-md-6.col-xs-6
                .filter.text-right
                    label Sort by:
                    select
                        option(value="") Label
                        option(value="") Location
                        option(value="") Tag
                        option(value="") Date Created
    table.table
        tr
            th.chk-all.chk-td 
                input#chk-all(type='checkbox')
                label(for='chk-all')
            th Description
            th Location
            th Status
            th Attached to
            th Charges
            th
        tr
            td.chk-td
                input#chk-1(type='checkbox')
                label(for='chk-1')
            td
                p.server-name.text-capitalize Block storage Dallas
                p.server-ip 50 GB
            td
                p.flag-ico
                    img(src="images/flags/usa.png")
                    | New Jersey
            td
                p
                    span.status-run.server-status 
                    | Running
            td 
                p ---
            td
                p $ 10,30
            td.text-center
                a.tb-opt(href="javascript:;")
                    i.fa.fa-pencil
                a.tb-opt(href="javascript:;")
                    i.fa.fa-trash
    nav(aria-label="")
        ul.pager
            li
                a(href='#') Previous
            li
                a(href='#') Next
