.firewall-tab
    .head-opt
        .row
            .col-md-6.col-xs-6
                .filter.show-itm
                    label Show:
                    select
                        option(value="") 5
                        option(value="") 10
                        option(value="") 20
                        option(value="") 30
                    a.add-new(href="#") Add firewall group
            .col-md-6.col-xs-6
                .filter.text-right
                    label Sort by:
                    select
                        option(value="") Label
                        option(value="") Location
                        option(value="") Tag
                        option(value="") Date Created
    table.table
        tr
            th.chk-all.chk-td 
                input#chk-all(type='checkbox')
                label(for='chk-all')
            th ID
            th Description
            th Date created
            th Rules
            th Instances
            th
        tr
            td.chk-td
                input#chk-1(type='checkbox')
                label(for='chk-1')
            td
                p.server-name.text-capitalize f87591c5b88a8
            td
                p ---
            td 
                p 2017-03-09 09:25:31
            td
                p ---
            td
                p ---
            td.text-center
                a.tb-opt(href="javascript:;")
                    i.fa.fa-pencil
                a.tb-opt(href="javascript:;")
                    i.fa.fa-trash
    nav(aria-label="")
        ul.pager
            li
                a(href='#') Previous
            li
                a(href='#') Next
    .tab-note
        .tab-note-itm
            h3 1. Popular Questions
            p.question
                strong How does the firewall work?
                span By default the firewall will block all connections. You must add the appropriate protocol and port combinations to allow access to your applications.
            p.question
                strong How does the firewall interact with existing connections?
                span Firewall rules will only apply to new connections. Restarting the applicable services on your server should terminate any existing connections.
            p.question
                strong Will a firewall protect me from a DDOS attack?
                span A firewall can help in certain smaller attacks, but your server may still be null routed if you are hit with a large attack. We would suggest purchasing DDOS protection if attacks are a problem for you.
            p.question
                strong How many rules can I add to a firewall group?
                span You can add up to 50 rules per firewall group. A firewall group may be attached to one or more servers.
            p
                | Read more about the Vultr Firewall on the
                a(href="#") Docs portal.