.instance-tab
    .head-opt
        .row
            .col-md-6.col-xs-6
                .filter.show-itm
                    label Show:
                    select
                        option(value="") 5
                        option(value="") 10
                        option(value="") 20
                        option(value="") 30
            .col-md-6.col-xs-6
                .filter.text-right
                    label Sort by:
                    select
                        option(value="") Label
                        option(value="") Location
                        option(value="") Tag
                        option(value="") Date Created
    table.table
        tr
            th.chk-all.chk-td 
                input#chk-all(type='checkbox')
                label(for='chk-all')
            th Server
            th OS
            th Location
            th Charges
            th Status
            th
        tr
            td.chk-td
                input#chk-1(type='checkbox')
                label(for='chk-1')
            td
                p.server-name AU-Sydney-1
                p.server-ip 2048 MB Server - 45.32.245.191
            td
                .os-ico.cent-os
            td
                p.flag-ico
                    img(src="images/flags/australia.png")
                    | Sydney
            td
                p $3.67
            td
                p
                    span.status-run.server-status 
                    | Running
            td
                .dropdown
                    a.dropdown-toggle#server-func-1(href="javascript:;", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="true")
                        i.fa.fa-cogs
                    ul.dropdown-menu(aria-labelledby="server-func-1")
                        li
                            a.text-capitalize(href="#") Server detail
                        li.divider(role="separator")
                        li
                            a.text-capitalize(href="#") View console
                        li
                            a.text-capitalize(href="#") Server stop
                        li
                            a.text-capitalize(href="#") Server restart
                        li
                            a.text-capitalize(href="#") Server reinstall
                        li
                            a.text-capitalize.text-danger(href="#") Server destroy
        tr
            td.chk-td
                input#chk-3(type='checkbox')
                label(for='chk-3')
            td
                p.server-name USA-LA-3
                p.server-ip 2048 MB Server - 45.32.245.191
            td
                .os-ico.ubuntu-os
            td
                p.flag-ico 
                    img(src="images/flags/usa.png")
                    | Los Angeles
            td
                p $3.67
            td
                p
                    span.status-destroy.server-status 
                    | Destroy
            td
                .dropdown
                    a.dropdown-toggle#server-func-3(href="javascript:;", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="true")
                        i.fa.fa-cogs
                    ul.dropdown-menu(aria-labelledby="server-func-3")
                        li
                            a.text-capitalize(href="#") Server detail
                        li.divider(role="separator")
                        li
                            a.text-capitalize(href="#") View console
                        li
                            a.text-capitalize(href="#") Server stop
                        li
                            a.text-capitalize(href="#") Server restart
                        li
                            a.text-capitalize(href="#") Server reinstall
                        li
                            a.text-capitalize.text-danger(href="#") Server destroy
        tr
            td.chk-td
                input#chk-2(type='checkbox')
                label(for='chk-2')
            td
                p.server-name GE-Frankfurt-2
                p.server-ip 2048 MB Server - 45.32.245.191
            td
                .os-ico.windows-os
            td
                p.flag-ico 
                    img(src="images/flags/germany.png")
                    | Frankfurt
            td
                p $3.67
            td
                p
                    span.status-stop.server-status 
                    | Stopped
            td
                .dropdown
                    a.dropdown-toggle#server-func-2(href="javascript:;", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="true")
                        i.fa.fa-cogs
                    ul.dropdown-menu(aria-labelledby="server-func-2")
                        li
                            a.text-capitalize(href="#") Server detail
                        li.divider(role="separator")
                        li
                            a.text-capitalize(href="#") View console
                        li
                            a.text-capitalize(href="#") Server stop
                        li
                            a.text-capitalize(href="#") Server restart
                        li
                            a.text-capitalize(href="#") Server reinstall
                        li
                            a.text-capitalize.text-danger(href="#") Server destroy
        tr
            td.chk-td
                input#chk-4(type='checkbox')
                label(for='chk-4')
            td
                p.server-name JP-Tokyo-2
                p.server-ip 2048 MB Server - 45.32.245.191
            td
                .os-ico.windows-os
            td
                p.flag-ico 
                    img(src="images/flags/japan.png")
                    | Tokyo
            td
                p $3.67
            td
                p
                    span.status-stop.server-status 
                    | Stopped
            td
                .dropdown
                    a.dropdown-toggle#server-func-4(href="javascript:;", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="true")
                        i.fa.fa-cogs
                    ul.dropdown-menu(aria-labelledby="server-func-4")
                        li
                            a.text-capitalize(href="#") Server detail
                        li.divider(role="separator")
                        li
                            a.text-capitalize(href="#") View console
                        li
                            a.text-capitalize(href="#") Server stop
                        li
                            a.text-capitalize(href="#") Server restart
                        li
                            a.text-capitalize(href="#") Server reinstall
                        li
                            a.text-capitalize.text-danger(href="#") Server destroy
        tr
            td.chk-td
                input#chk-5(type='checkbox')
                label(for='chk-5')
            td
                p.server-name FR-Paris-5
                p.server-ip 2048 MB Server - 45.32.245.191
            td
                .os-ico.fedora-os
            td
                p.flag-ico 
                    img(src="images/flags/fr.png")
                    | Paris
            td
                p $3.67
            td
                p
                    span.status-run.server-status 
                    | Running
            td
                .dropdown
                    a.dropdown-toggle#server-func-5(href="javascript:;", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="true")
                        i.fa.fa-cogs
                    ul.dropdown-menu(aria-labelledby="server-func-5")
                        li
                            a.text-capitalize(href="#") Server detail
                        li.divider(role="separator")
                        li
                            a.text-capitalize(href="#") View console
                        li
                            a.text-capitalize(href="#") Server stop
                        li
                            a.text-capitalize(href="#") Server restart
                        li
                            a.text-capitalize(href="#") Server reinstall
                        li
                            a.text-capitalize.text-danger(href="#") Server destroy
    nav(aria-label="")
        ul.pager
            li
                a(href='#') Previous
            li
                a(href='#') Next
