.iso-tab
    .head-opt
        .row
            .col-md-6.col-xs-6
                .filter.show-itm
                    label Show:
                    select
                        option(value="") 5
                        option(value="") 10
                        option(value="") 20
                        option(value="") 30
                    a.add-new(href="#") Add iso
            .col-md-6.col-xs-6
                .filter.text-right
                    label Sort by:
                    select
                        option(value="") Label
                        option(value="") Location
                        option(value="") Tag
                        option(value="") Date Created
    table.table
        tr
            th.chk-all.chk-td 
                input#chk-all(type='checkbox')
                label(for='chk-all')
            th Name
            th Status
            th MD5
            th Size
            th
        tr
            td.chk-td
                input#chk-1(type='checkbox')
                label(for='chk-1')
            td
                p.server-name Win10_1511_English_x64_LuanTran_HocVPS.iso
                p.server-ip Uploaded 2017-03-09 09:25:31
            td
                p
                    span.status-run.server-status 
                    | Available
            td
            td
                P 4,023 MB
            td.text-center
                a.tb-opt(href="javascript:;")
                    i.fa.fa-trash
        tr
            td.chk-td
                input#chk-2(type='checkbox')
                label(for='chk-2')
            td
                p.server-name Win10_1511_English_x64_LuanTran_HocVPS.iso
                p.server-ip Uploaded 2017-03-09 09:25:31
            td
                p
                    span.status-run.server-status 
                    | Available
            td
            td
                P 4,023 MB
            td.text-center
                a.tb-opt(href="javascript:;")
                    i.fa.fa-trash
        tr
            td.chk-td
                input#chk-3(type='checkbox')
                label(for='chk-3')
            td
                p.server-name Win10_1511_English_x64_LuanTran_HocVPS.iso
                p.server-ip Uploaded 2017-03-09 09:25:31
            td
                p
                    span.status-run.server-status 
                    | Available
            td
            td
                P 4,023 MB
            td.text-center
                a.tb-opt(href="javascript:;")
                    i.fa.fa-trash
    nav(aria-label="")
        ul.pager
            li
                a(href='#') Previous
            li
                a(href='#') Next

    .tab-note
        .tab-note-itm
            h3 1. Using ISOs
            p ISOs can be used to install a custom OS, or boot your own recovery system. 
            p 
                | You can upload your own custom ISOs or browse the public 
                a(href="#") VULTR ISO Library.
        .tab-note-itm
            h3 2. Important note about Windows
            p 
                | If you are using Windows, you must slipstream the 
                a(href="#") VirtIO drivers 
                | into the installation CD. If you do not do this, the installer will be unable to detect the disk. The official ISOs from Microsoft will not work, as they do not include the VirtIO drivers.