.reserved-ips-tab
    .head-opt
        .row
            .col-md-6.col-xs-6
                .filter.show-itm
                    label Show:
                    select
                        option(value="") 5
                        option(value="") 10
                        option(value="") 20
                        option(value="") 30
                    a.add-new(href="#") Add new reserved IP
            .col-md-6.col-xs-6
                .filter.text-right
                    label Sort by:
                    select
                        option(value="") Label
                        option(value="") Location
                        option(value="") Tag
                        option(value="") Date Created
    table.table
        tr
            th.chk-all.chk-td 
                input#chk-all(type='checkbox')
                label(for='chk-all')
            th Reserved IP
            th Location
            th Attached to
            th Charges
            th
        tr
            td.chk-td
                input#chk-1(type='checkbox')
                label(for='chk-1')
            td
                p.server-name.text-capitalize Block storage Dallas
                p.server-ip 50 GB
            td
                p.flag-ico
                    img(src="images/flags/usa.png")
                    | New Jersey
            td 
                p ---
            td
                p $ 10,30
            td.text-center
                a.tb-opt(href="javascript:;")
                    i.fa.fa-pencil
                a.tb-opt(href="javascript:;")
                    i.fa.fa-trash
    nav(aria-label="")
        ul.pager
            li
                a(href='#') Previous
            li
                a(href='#') Next
    .tab-note
        .tab-note-itm
            h3 1. Popular Questions
            p.question
                strong How am I billed for reserved IPs?
                span Reserved IPs cost $3 per month or $0.0045 per hour at all times.
            p.question
                strong Is there an API for reserved IP management?
                span Yes! Visit 
                a(href="#") https://www.vultr.com/api/#reservedip
            p.question
                strong Can I setup High Availability IPs?
                span Yes! Please visit our 
                a(href="#") Vultr Doc 
                spa for detailed instructions.