.snapshot-tab
    .head-opt
        .row
            .col-md-6.col-xs-6
                .filter.show-itm
                    label Show:
                    select
                        option(value="") 5
                        option(value="") 10
                        option(value="") 20
                        option(value="") 30
                    a.add-new(href="#") Add snapshot
            .col-md-6.col-xs-6
                .filter.text-right
                    label Sort by:
                    select
                        option(value="") Label
                        option(value="") Location
                        option(value="") Tag
                        option(value="") Date Created
    table.table
        tr
            th.chk-all.chk-td 
                input#chk-all(type='checkbox')
                label(for='chk-all')
            th Name
            th OS
            th Size
            th Cost
            th Date
            th Status
            th
        tr
            td.chk-td
                input#chk-1(type='checkbox')
                label(for='chk-1')
            td
                p.server-name f87591c5b88a8
                p.server-ip Backup 1
            td
                .os-ico.cent-os
            td
                p 60GB
            td
                p $3.67
            td
                p 2017-05-17 14:17:44
            td
                p
                    span.status-run.server-status 
                    | Running
            td.text-center
                a.tb-opt(href="javascript:;")
                    i.fa.fa-pencil
                a.tb-opt(href="javascript:;")
                    i.fa.fa-trash
        tr
            td.chk-td
                input#chk-2(type='checkbox')
                label(for='chk-2')
            td
                p.server-name f87591c5b88a8
                p.server-ip Backup 2
            td
                .os-ico.ubuntu-os
            td
                p 256GB
            td
                p $12.66
            td
                p 2017-05-17 14:17:44
            td
                p
                    span.status-run.server-status 
                    | Running
            td.text-center
                a.tb-opt(href="javascript:;")
                    i.fa.fa-pencil
                a.tb-opt(href="javascript:;")
                    i.fa.fa-trash
        tr
            td.chk-td
                input#chk-3(type='checkbox')
                label(for='chk-3')
            td
                p.server-name f87591c5b88a8
                p.server-ip Backup 3
            td
                .os-ico.cent-os
            td
                p 128GB
            td
                p ---
            td
                p 2017-05-17 14:17:44
            td
                p
                    span.status-stop.server-status 
                    | Stopped
            td.text-center
                a.tb-opt(href="javascript:;")
                    i.fa.fa-pencil
                a.tb-opt(href="javascript:;")
                    i.fa.fa-trash
        tr
            td.chk-td
                input#chk-3(type='checkbox')
                label(for='chk-3')
            td
                p.server-name f87591c5b88a8
                p.server-ip Backup 3
            td
                .os-ico.core-os
            td
                p 60GB
            td
                p $3.67
            td
                p 2017-05-17 14:17:44
            td
                p
                    span.status-destroy.server-status 
                    | Destroy
            td.text-center
                a.tb-opt(href="javascript:;")
                    i.fa.fa-pencil
                a.tb-opt(href="javascript:;")
                    i.fa.fa-trash
        tr
            td.chk-td
                input#chk-4(type='checkbox')
                label(for='chk-4')
            td
                p.server-name f87594c5b88a8
                p.server-ip Backup 4
            td
                .os-ico.windows-os
            td
                p 60GB
            td
                p $3.67
            td
                p 2017-05-17 14:17:44
            td
                p
                    span.status-run.server-status 
                    | Running
            td.text-center
                a.tb-opt(href="javascript:;")
                    i.fa.fa-pencil
                a.tb-opt(href="javascript:;")
                    i.fa.fa-trash
    nav(aria-label="")
        ul.pager
            li
                a(href='#') Previous
            li
                a(href='#') Next
