.startup-script-tab
    .head-opt
        .row
            .col-md-6.col-xs-6
                .filter.show-itm
                    label Show:
                    select
                        option(value="") 5
                        option(value="") 10
                        option(value="") 20
                        option(value="") 30
                    a.add-new(href="#") Add startup script
            .col-md-6.col-xs-6
                .filter.text-right
                    label Sort by:
                    select
                        option(value="") Label
                        option(value="") Location
                        option(value="") Tag
                        option(value="") Date Created
    table.table
        tr
            th.chk-all.chk-td 
                input#chk-all(type='checkbox')
                label(for='chk-all')
            th Name
            th Type
            th Last modified
            th
        tr
            td.chk-td
                input#chk-1(type='checkbox')
                label(for='chk-1')
            td
                p.server-name Win10_1511_English_x64_LuanTran_HocVPS.iso
                p.server-ip Uploaded 2017-03-09 09:25:31
            td
                p
                    span.status-run.server-status 
                    | Available
            td
                P 2017-03-09 09:25:31
            td.text-center
                a.tb-opt(href="javascript:;")
                    i.fa.fa-trash
    nav(aria-label="")
        ul.pager
            li
                a(href='#') Previous
            li
                a(href='#') Next

    .tab-note
        .note-ttl
            h2 Using Startup Scripts
            p There are two types of startup scripts.
        .tab-note-itm
            h3 1. Boot
            p These scripts are executed by the VPS the very first time it starts up.
            ul
                li 
                    span The startup script is saved to /tmp/firstboot.exec
                li 
                    span Output produced can be found in /tmp/firstboot.log
                li
                    span Scripts are executed using /bin/bash (Linux), /bin/sh (FreeBSD), or cmd.exe (Windows)
        .tab-note-itm
            h3 2. PXE
            p These scripts are executed by iPXE whenever the server starts up. These can be used to automate installs of custom operating systems.
            ul
                li 
                    span These scripts are listed under the 'Upload ISO' option on the deploy page.
                li 
                    span The script will only be executed if there is no operating system installed to the server's disk.
                li
                    span These must be valid 
                    a(href="#") iPXE scripts.