/*
 *
 * Support css
 *
*/ 

.support-blk{
    margin-bottom: 30px;
    h3{
        margin-bottom: 15px;
    }
    .submit-frm{
        &:hover, &:focus{
            color: #fff;
        }
    }
}

.sp-blk{
    display: block;
    border: 2px solid @blue;
    margin-bottom: 15px;
    padding: 50px 0px 50px 0px;
    text-align: center;
    border-radius: 2px;
    .transition(all .4s ease);
    i{
        display: block;
        margin-bottom: 10px;
        font-size: 40px;
    }
    &:hover, &:focus{
        background-color: @blue;
        color: #fff;
    }
}

.support-list{
    margin-bottom: 20px;
    li{
        a{
            display: block;
            height: 39px;
            line-height: 40px;
            margin-bottom: 5px; 
            font-size: 18px;
            i{
                margin-right: 10px;
                color: @orange;
            }
            &:hover{
                color: @orange;
            }
        }
    }
}