/*
 *
 * Header css
 *
*/ 

header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 110px;
    overflow: auto;
    background-color: #E91E63;
    .logo {
        width: 110px;
        height: 110px;
        margin-bottom: 50px;
        display: block;
        text-align: center;
        padding-top: 20px;
        img{
            width: 80%;
        }
    }
}

.menu-itm{
    display: block;
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    color: #dddcdc;
    font-weight: bold;
    position: relative;
    .transition(all 0.4s ease);
    text-align: center;
    i{
        display: block;
        font-size: 24px;
        margin-bottom: 10px;
    }
    .text {
        display: block;
    }
    &:after{
        content: '';
        display: none;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-right: 10px solid #fff;
        border-bottom: 10px solid transparent;
        position: absolute;
        right: 0;
        top: 50%;
        .transform(translateY(-50%));
    }
    &.active{
        &:after{
            display: block;
        }
        color: #fff;
    }
    &:hover{
        color: #fff;
    }
}

.responsive-btn {
    color: #fff;
    font-size: 24px;
    display: none;
    &:hover{
        color: #fff;
    }
}


/*
 *
 * User head css
 *
*/ 

.user-head {
    height: 44px;
    line-height: 44px;
    .dropdown{
        float: right;
    }
    #user-func{
        span{
            margin-left: 10px;
        }
    }
}


/*
 *
 * Page head css
 *
*/ 
.page-head {
    margin-top: 50px;
    margin-bottom: 50px;
    .page-ttl {
        font-size: 24px;
        // line-height: 86px;
        .user-mail{
            display: block;
            font-weight: normal;
            font-size: 12px;
            margin-top: 10px;
            i{
                margin-right: 5px;
            }
        }
    }
}

.filter{
    margin-bottom: 15px;
    label {
        margin-right: 10px;
    }
    select {
        display: inline-block;
        outline: none;
        border-radius: 2px;
        width: 200px;
        height: 40px;
        padding: 0 10px;
        border: 1px solid #ddd;
        &:focus, &:active{
            border-color: #bbb;
        }
    }

    &.show-itm{
        select{
            width: 100px;
        }
    }
}

.hr-divider{
    display: block;
    position: relative;
    top: -60px;
    width: 100%;
    height: 1px;
    overflow: hidden;
    background-color: #EDF0F2;
    &.billing-hr{
        position: static;
    }
}

.add-new-server{
    display: inline-block;
    background-color: @orange;
    color: #fff;
    line-height: normal;
    padding: 8px 15px;
    .transition(all 0.4s ease);
    border-radius: 2px;
    &:hover, &:active, &:focus{
        color: #fff;
    }
    &:hover {
        background-color: darken(@orange, 10%);
    }
}