.api-tab.account-ct
    .api-tab-itm
        h3.ttl Personal Access Token
        p API Access is currently disabled on your account. 
        a.read-docs(href="#") Read the SmartDigiTech documentation.
        button.submit-frm.text-capitalize Enable api
    .api-tab-itm
        p Reselling and using WHMCS? Download the official Vultr WHMCS module, and read the module documentation.
        button.docs Docs
        button.download Download
