.auth-tab.account-ct
    .auth-itm
        h3.ttl Two Factor Auth
        p Keep your account secure by enabling two-factor authentication. Each time you log in, you’ll be required to provide your password plus a randomly generated access code.
        button.submit-frm.text-capitalize Manage two factor auth
    .auth-itm
        h3.ttl Change password
        form
            .form-group.clearfix
                label.cus-label
                    span Current password
                    input(type="password", placeholder="Current password", value="")
            .form-group
                label.cus-label
                    span New password
                    input(type="password", placeholder="New password", value="")
            .form-group
                label.cus-label
                    span Confirm new password
                    input(type="password", placeholder="Confirm new password", value="")
            .form-group
                button.submit-frm.text-capitalize Change password