.noti-tab.account-ct
    .noti-itm
        h3.ttl Maintenance and Outage Notifications
        .noti-setting
            p 
                | Send E-mails for Outage and Maintenance
            .cus-chk
                input#chk-11(type="checkbox")
                label(for="chk-11")
        button.submit-frm.text-capitalize Update
    .noti-itm
        h3.ttl Bandwidth Preferences
        .noti-setting
            p 
                | Send E-mails on Bandwidth Usage
                span.tooltip-inf(data-toggle="tooltip" data-placement="top" title="Notified when any VM exceeds 75%, 90% and 100% of the bandwidth limit.")
                    i.fa.fa-question-circle-o
            .cus-chk
                input#chk-12(type="checkbox")
                label(for="chk-12")
        .noti-setting            
            p 
                | Stop VMs on Bandwidth Usage
                span.tooltip-inf(data-toggle="tooltip" data-placement="top" title="Usage checked hourly - may still incur up to one hour of overage if limit is set to 100%.")
                    i.fa.fa-question-circle-o
            .cus-chk
                input#chk-13(type="checkbox")
                label(for="chk-13")
        button.submit-frm.text-capitalize Update bandwidth settings