.profile-tab.account-ct
    h3.ttl Your info
    form
        .form-group
            .row
                .col-md-6.col-xs-12
                    label.cus-label
                        span First name
                        input(type="text", placeholder="First name", value="Toan")
                .col-md-6.col-xs-12
                    label.cus-label 
                        span Last name
                        input(type="text", placeholder="Last name", value="Nguyen")
        .form-group.clearfix
            label.cus-label
                span Email
                input(type="text", placeholder="Email", value="xfireman123456@gmail.com", readonly)
            a.change-mail(href="javascript:;") Change email
        .form-group
            label.cus-label
                span Phone
                input(type="text", placeholder="Phone number", value="065989652")
        .form-group
            label.cus-label
                span Address
                input(type="text", placeholder="Address", value="")
        .form-group
            label.cus-label
                span Address (line 2)
                input(type="text", placeholder="Address (line 2)", value="")
        .form-group
            .row
                .col-md-6.col-xs-12
                    label.cus-label 
                        span City
                        input(type="text", placeholder="City", value="Ho Chi Minh")
                .col-md-6.col-xs-12
                    label.cus-label 
                        span Zipcode
                        input(type="text", placeholder="Zipcode", value="700000")
        .form-group
            label.cus-label
                span Country
                select
                    option(value="") Viet Name
                    option(value="") Japan
                    option(value="") France
                    option(value="") Germany
                    option(value="") Russia
        .form-group
            label.cus-label
                span Company
                input(type="text", placeholder="Company", value="")
        .form-group
            button.submit-frm.text-capitalize Update profile