.user-tab
    h3.ttl User list
    .head-opt
        .row
            .col-md-6.col-xs-6
                .filter.show-itm
                    label Show:
                    select
                        option(value="") 5
                        option(value="") 10
                        option(value="") 20
                        option(value="") 30
                    a.add-new(href="#") Add user
            .col-md-6.col-xs-6
                .filter.text-right
                    label Sort by:
                    select
                        option(value="") Label
                        option(value="") Location
                        option(value="") Tag
                        option(value="") Date Created
    table.table
        tr
            th.chk-all.chk-td 
                input#chk-all(type='checkbox')
                label(for='chk-all')
            th Name
            th Email
            th
        tr
            td.chk-td
                input#chk-1(type='checkbox')
                label(for='chk-1')
            td
                p Mr Gay
            td
                p gaylo@gmail.com
            td.text-center
                a.tb-opt(href="javascript:;")
                    i.fa.fa-trash
        tr
            td.chk-td
                input#chk-2(type='checkbox')
                label(for='chk-2')
            td
                p Fastboy
            td
                p fastboy@gmail.com
            td.text-center
                a.tb-opt(href="javascript:;")
                    i.fa.fa-trash
        tr
            td.chk-td
                input#chk-3(type='checkbox')
                label(for='chk-3')
            td
                p Mr Gay
            td
                p gaylo@gmail.com
            td.text-center
                a.tb-opt(href="javascript:;")
                    i.fa.fa-trash
        tr
            td.chk-td
                input#chk-4(type='checkbox')
                label(for='chk-4')
            td
                p Mr Gay
            td
                p gaylo@gmail.com
            td.text-center
                a.tb-opt(href="javascript:;")
                    i.fa.fa-trash
    nav(aria-label="")
        ul.pager
            li
                a(href='#') Previous
            li
                a(href='#') Next