/*
 *
 * Instance tab css
 *
*/ 

.table {
    .server-name{
        font-weight: 800;
    }

    .os-ico{
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: cover;
        &.cent-os {
            background-image: url('../images/os/centos.png');
        }
        &.windows-os{
            background-image: url('../images/os/windows-os.png');
        }
        &.ubuntu-os{
            background-image: url('../images/os/ubuntu.png');
        }
        &.fedora-os{
            background-image: url('../images/os/fedora.png');
        }
        &.core-os{
            background-image: url('../images/os/core-os.png');
        }
    }

    .server-status{
        position: relative;
        display: inline-block;
        position: relative;
        margin-right: 15px;
        height: 9px;
        width: 9px;
        border-radius: 100%;
        &.status-run {
            background-color: @green;
            &:before{
                content: '';
                width: 19px;
                height: 19px;
                display: block;
                border-radius: 100%;
                background-color: @green;
                opacity: 0.5;
                position: absolute;
                left: -5px;
                top: -5px;
                .animation(circle 2s infinite);
            }
            &:after{
                content: '';
                width: 29px;
                height: 29px;
                display: block;
                border-radius: 100%;
                background-color: @green;
                opacity: 0.1;
                position: absolute;
                left: -10px;
                top: -10px;
                .animation(circle 2s infinite);
                
            }
        }
        &.status-stop {
            background-color: @orange;
            &:before{
                content: '';
                width: 19px;
                height: 19px;
                display: block;
                border-radius: 100%;
                background-color: @orange;
                opacity: 0.5;
                position: absolute;
                left: -5px;
                top: -5px;
                .animation(circle 2s infinite);
            }
            &:after{
                content: '';
                width: 29px;
                height: 29px;
                display: block;
                border-radius: 100%;
                background-color: @orange;
                opacity: 0.1;
                position: absolute;
                left: -10px;
                top: -10px;
                .animation(circle 2s infinite);
                
            }
        }
        &.status-destroy {
            background-color: @red;
            &:before{
                content: '';
                width: 19px;
                height: 19px;
                display: block;
                border-radius: 100%;
                background-color: @red;
                opacity: 0.5;
                position: absolute;
                left: -5px;
                top: -5px;
                .animation(circle 2s infinite);
            }
            &:after{
                content: '';
                width: 29px;
                height: 29px;
                display: block;
                border-radius: 100%;
                background-color: @red;
                opacity: 0.1;
                position: absolute;
                left: -10px;
                top: -10px;
                .animation(circle 2s infinite);
                
            }
        }
    }

    .dropdown-menu{
        right: 0;
        left: auto;
    }

    .flag-ico{
        margin-bottom: 0;
        img{
            margin-right: 10px;
            width: 50px;
        }
    }
}


@keyframes circle{
    0%{
        .transform(scale(0.5, 0.5));
    }
    45%{
        .transform(scale(1, 1));
    }
    100%{
        .transform(scale(0.5, 0.5));
    }
}

@-webkit-keyframes circle{
   0%{
        .transform(scale(0.5, 0.5));
    }
    45%{
        .transform(scale(1, 1));
    }
    100%{
        .transform(scale(0.5, 0.5));
    }
}
@-moz-keyframes circle{
   0%{
        .transform(scale(0.5, 0.5));
    }
    45%{
        .transform(scale(1, 1));
    }
    100%{
        .transform(scale(0.5, 0.5));
    }
}

.tab-note {
    margin-top: 40px;
    border: 2px solid @orange;
    border-radius: 2px;
    padding: 10px;
    .note-ttl{
        margin-bottom: 20px;
        h2{
            font-size: 24px;
            margin-bottom: 15px;
            font-weight: 700;
        }
    }
}
.tab-note-itm{
    margin-bottom: 30px;
    h3{
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 700;
    }
    p{
        margin-bottom: 5px;
        a{
            color: @blue;
            &:hover, &:focus {
                color: @blue;
            }
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .question{
        margin-bottom: 10px;
        padding-left: 15px;
        strong{
            display: block;
            margin-bottom: 8px;
        }
    }
    ul {
        margin-left: 40px;
        li {
            list-style: disc;
            margin-bottom: 8px;
            a{
                color: @blue;
                &:hover, &:focus {
                    color: @blue;
                }
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}