/*
 *
 * Custom css
 *
*/ 

// Tab
.cus-tab {
    margin-bottom: 60px;
    .nav-tabs{
        border-bottom: none;
        >li{
            margin-bottom: 0;
            >a{
                margin-right: 0;
                border-radius: 0;
                border: none;
                padding: 10px 2px;
                margin: 0 15px;
                &:hover, &:focus{
                    border: none;
                    color: @orange;
                    background-color: transparent;
                }
                &:after{
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    display: block;
                    content: "";
                    height: 2px;
                    width: 0;
                    .transition(all ease 0.4s);
                }
            }
            &.active{
                >a{
                    border: none;
                    color: @orange;
                    &:after{
                        width: 100%;
                        margin-left: -50%;
                        background-color: @orange;
                    }
                    &:hover, &:focus{
                        border: none;
                    }
                }
            }
        }
    }
}

.cus-tab-ct{
    padding: 15px 0 50px 0;
}


// Checkbox
.chk-td{
    input[type="checkbox"]{
        display: none;
    }
    label{
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 20px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-weight: 100;
        cursor: pointer;
        display: inline-block;
        max-width: 100%;
        &:before{
            width: 20px;
            content: "\F096";
            display: inline-block;
            text-align: left;
        }
        &.invalid {
            color: #db0000;
        }
    }

    input[type=checkbox]:checked + label:before{
        content: '\f046';
    }
}


// Add new button
.add-new {
    display: inline-block;
    margin: 0 15px;
    padding: 10px 15px;
    color: #fff;
    background-color: @orange;
    .transition(all 0.4s ease);
    border-radius: 2px;
    &:hover, &:focus {
        color: #fff;
    }
    &:hover{
        background-color: darken(@orange, 10%);
    }
}


// Table option
.tb-opt{
    font-size: 18px;
    margin-right: 20px;
    display: inline-block;
    color: #aaa;
    &:focus {
        color: #aaa;
    }
    &:hover{
        color: #111;
    }
}


// Dropdown menu
.dropdown-menu {
    border-radius: 2px;
    > li {
        >a{
            &:hover, &:focus {
                background-color: @orange;
                color: #fff;
            }
        }
    }
}


// Input
.ipt{
    display: inline-block;
    outline: none;
    height: 32px;
    padding: 0 10px;
    border-radius: 2px;
    border: 1px solid #ddd;
    width: 100%;
    &:focus, &:active{
        border-color: @blue;
    }
}


// Checkbox
.cus-chk{
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"] + label{
        position: relative;
        display: block;
        width: 46px;
        height: 22px;
        line-height: 22px;
        padding: 0px 5px;
        border-radius: 12px;
        margin: 8px 0px;
        cursor: pointer;
        font-size: 10px;
        text-align: right;
        color: #8D8D8D;
        background-color: #dadfe5;
        transition: all ease .3s;
        &:after{
            content: "";
            display: block;
            position: absolute;
            left: 2px;
            top: 2px;
            height: 18px;
            width: 18px;
            border-radius: 9px;
            background-color: #ffffff;
            transition: all ease .3s;
        }
        &:before{
            content: "OFF";
        }
    }

    input[type=checkbox]:checked + label {
        background-color: #1e88e5;
        color: #ffffff;
        text-align: left;
        &:after{
            left: 26px;
        }
        &:before{
            content: "ON";
        }
    }
}