.credit-card
    .billing-ttl
        h3.text-capitalize Make payment with ATM card
    form
        .card-frm
            .form-group
                label.cus-label
                    span Cardholder
                    input.ipt(type="text", placeholder="Cardholder")
            .form-group
                label.cus-label
                    span Card number
                    input.ipt(type="text", placeholder="Card number")
            .row
                .col-md-6.col-xs-12
                    .form-group
                        label.cus-label
                            span Expire month (MM)
                            input.ipt(type="text", placeholder="Expire month (MM)")
                .col-md-6.col-xs-12
                    .form-group
                        label.cus-label
                            span Expire year (YY)
                            input.ipt(type="text", placeholder="Expire year (YY)")
            .form-group
                label.cus-label
                    span Enter amount
                    input.ipt(type="text", placeholder="Enter amount")
            p.text-capitalize.blk-ttl Accept payment with:
            .form-group.text-center
                img(src="images/b_banks.png", alt="")
            .form-group
                button.submit-frm.text-capitalize Pay with ATM card