.credit-card
    .billing-ttl
        h3.text-capitalize Make a Bitcoin Payment
    form
        .card-frm
            p No Refunds available for Bitcoin deposits. Bitcoin deposits may take up to 120 minutes to process.
            .form-group
                .row
                    .col-md-2.col-xs-4
                        .billing-rdo
                            input#bitcoin5(type="radio", name="bitcoin", value="5")
                            label(for="bitcoin5") $5
                    .col-md-2.col-xs-4
                        .billing-rdo
                            input#bitcoin10(type="radio", name="bitcoin", value="10")
                            label(for="bitcoin10") $10
                    .col-md-2.col-xs-4
                        .billing-rdo
                            input#bitcoin25(type="radio", name="bitcoin", value="25")
                            label(for="bitcoin25") $25
                    .col-md-2.col-xs-4
                        .billing-rdo
                            input#bitcoin50(type="radio", name="bitcoin", value="50")
                            label(for="bitcoin50") $50
                    .col-md-2.col-xs-4
                        .billing-rdo
                            input#bitcoin100(type="radio", name="bitcoin", value="100")
                            label(for="bitcoin100") $100
                    .col-md-2.col-xs-4
                        .billing-rdo
                            input#bitcoin250(type="radio", name="bitcoin", value="250")
                            label(for="bitcoin250") $250
            .form-group
                label.amount-cus(for="amount-custom")
                    input#amount-custom(type="text", placeholder="Enter amount ($)")
            .form-group
                button.submit-frm.text-capitalize Pay with Bitcoin