.credit-card
    .billing-ttl
        h3.text-capitalize Make payment with credit card
    form
        .card-frm
            .form-group
                label.cus-label
                    span Name on card
                    input.ipt(type="text", placeholder="Name on card")
            .form-group
                label.cus-label
                    span Billing address
                    input.ipt(type="text", placeholder="Billing address")
            .row
                .col-md-6.col-xs-12
                    .form-group
                        label.cus-label
                            span Billing city
                            input.ipt(type="text", placeholder="Billing city")
                .col-md-6.col-xs-12
                    .form-group
                        label.cus-label
                            span Postal code
                            input.ipt(type="text", placeholder="Postal code")
            .form-group
                label.cus-label
                    span Country
                    select
                        option(value="") Viet Name
                        option(value="") Japan
                        option(value="") France
                        option(value="") Germany
                        option(value="") Russia
            p.text-capitalize.blk-ttl Credit card details
            .form-group
                label.cus-label
                    span Card number
                    input.ipt(type="text", placeholder="Card number")
            .row
                .col-md-4.col-xs-12
                    .form-group
                        label.cus-label
                            span Expire month (MM)
                            input.ipt(type="text", placeholder="Expire month (MM)")
                .col-md-4.col-xs-12
                    .form-group
                        label.cus-label
                            span Expire year (YY)
                            input.ipt(type="text", placeholder="Expire year (YY)")
                .col-md-4.col-xs-12
                    .form-group
                        label.cus-label
                            span Security code
                            input.ipt(type="text", placeholder="Security code")
            p.text-capitalize.blk-ttl Choose amount
            .form-group
                .row
                    .col-md-2.col-xs-4
                        .billing-rdo
                            input#amount5(type="radio", name="amount", value="5")
                            label(for="amount5") $5
                    .col-md-2.col-xs-4
                        .billing-rdo
                            input#amount10(type="radio", name="amount", value="10")
                            label(for="amount10") $10
                    .col-md-2.col-xs-4
                        .billing-rdo
                            input#amount25(type="radio", name="amount", value="25")
                            label(for="amount25") $25
                    .col-md-2.col-xs-4
                        .billing-rdo
                            input#amount50(type="radio", name="amount", value="50")
                            label(for="amount50") $50
                    .col-md-2.col-xs-4
                        .billing-rdo
                            input#amount100(type="radio", name="amount", value="100")
                            label(for="amount100") $100
                    .col-md-2.col-xs-4
                        .billing-rdo
                            input#amount250(type="radio", name="amount", value="250")
                            label(for="amount250") $250
            .form-group
                .row
                    .col-md-6.col-xs-12
                        .billing-rdo
                            input#linkonly(type="radio", name="amount", value="0")
                            label(for="linkonly") Link only ($0 deposit)
                    .col-md-6.col-xs-12
                        label.amount-cus(for="amount-custom")
                            input#amount-custom(type="text", placeholder="Enter amount ($)")
            .form-group
                button.submit-frm.text-capitalize Pay with credit card