.credit-card
    .billing-ttl
        h3.text-capitalize Do you have a Gift Code?
    form
        .card-frm
            .form-group
                label.amount-cus(for="amount-custom")
                    input#amount-custom(type="text", placeholder="Gift code")
            .form-group
                button.submit-frm.text-capitalize Apply gift code