.history
    .balance-blks
        a.balance-blk(href="#") 
            span.numb.text-success -$8.19
            span.text.text-capitalize Account Balance
            span.notice Finalized Invoices and Payments
        span.operator +
        a.balance-blk(href="#") 
            span.numb.text-danger $4.78
            span.text.text-capitalize Charge this month
            span.notice Invoiced on September 1st
        span.operator 
            | =
        a.balance-blk(href="#") 
            span.numb.text-success $3.41
            span.text.text-capitalize Remeaning credit
            span.notice You Have Credit!
    .head-opt
        .row
            .col-md-12.col-xs-12
                .filter.show-itm
                    label New Invoice Notification:
                    select
                        option(value="") None
                        option(value="") By Email
                        option(value="") By Email and Attach Invoice
                    a.add-new(href="#") Save
    table.table
        tr
            th Description
            th Date
            th Amount
            th Balance
            th Status
            th
        tr
            td
                p Invoice #4205828
            td
                p 2017-08-01
            td
                p $30.74
            td
                p -$8.19
            td
                p.text-success 
                    strong Completed
            td.text-center
                a.tb-opt(href="javascript:;")
                    i.fa.fa-file
        tr
            td
                p Invoice #4205828
            td
                p 2017-08-01
            td
                p $30.74
            td
                p -$8.19
            td
                p.text-success 
                    strong Completed
            td.text-center
                a.tb-opt(href="javascript:;")
                    i.fa.fa-file
        tr
            td
                p Invoice #4205828
            td
                p 2017-08-01
            td
                p $30.74
            td
                p -$8.19
            td
                p.text-success 
                    strong Completed
            td.text-center
                a.tb-opt(href="javascript:;")
                    i.fa.fa-file
        tr
            td
                p Invoice #4205828
            td
                p 2017-08-01
            td
                p $30.74
            td
                p -$8.19
            td
                p.text-success 
                    strong Completed
            td.text-center
                a.tb-opt(href="javascript:;")
                    i.fa.fa-file