.credit-card
    .billing-ttl
        h3.text-capitalize Make a PayPal Payment
    form
        .card-frm
            .form-group
                .row
                    .col-md-2.col-xs-4
                        .billing-rdo
                            input#paypal5(type="radio", name="paypal", value="5")
                            label(for="paypal5") $5
                    .col-md-2.col-xs-4
                        .billing-rdo
                            input#paypal10(type="radio", name="paypal", value="10")
                            label(for="paypal10") $10
                    .col-md-2.col-xs-4
                        .billing-rdo
                            input#paypal25(type="radio", name="paypal", value="25")
                            label(for="paypal25") $25
                    .col-md-2.col-xs-4
                        .billing-rdo
                            input#paypal50(type="radio", name="paypal", value="50")
                            label(for="paypal50") $50
                    .col-md-2.col-xs-4
                        .billing-rdo
                            input#paypal100(type="radio", name="paypal", value="100")
                            label(for="paypal100") $100
                    .col-md-2.col-xs-4
                        .billing-rdo
                            input#paypal250(type="radio", name="paypal", value="250")
                            label(for="paypal250") $250
            .form-group
                label.amount-cus(for="amount-custom")
                    input#amount-custom(type="text", placeholder="Enter amount ($)")
            .form-group
                button.submit-frm.text-capitalize Pay with paypal