header
    .main-menu
        a.responsive-btn(href="javascript:;")
            i.fa.fa-bars
        a.logo(href="index.html")
            img(src="images/logo/logo.png", alt="")
        ul.menu-lst
            li
                a.menu-itm.active(href="index.html")
                    i.fa.fa-server
                    span.text Servers
            li
                a.menu-itm(href="billing.html")
                    i.fa.fa-credit-card
                    span.text Billing
            li
                a.menu-itm(href="support.html")
                    i.fa.fa-info
                    span.text Support
            li
                a.menu-itm(href="#")
                    i.fa.fa-link
                    span.text Affiliate
            li
                a.menu-itm(href="account.html")
                    i.fa.fa-user
                    span.text Accounts