.container
    .user-head.clearfix
        .dropdown.text-right
            a.dropdown-toggle#user-func(href="javascript:;", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="true")
                | Welcome, Toan Nguyen
                span.caret
            ul.dropdown-menu(aria-labelledby="user-func")
                li
                    a(href="#") Profile
                li
                    a(href="#") Authentication
                li
                    a(href="#") API
                li
                    a(href="#") Users
                li
                    a(href="#") Notification
                li.divider(role="separator")
                li
                    a(href="#") Logout