block vars
  title Home - novaland.biz
  showTop false
doctype html
//[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]
//[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]
//[if gt IE 9]><!
html(class="no-js", lang="en")
  //<![endif]
  head
    title=title
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    //-- Call font
    link(href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i,900,900i&amp;subset=vietnamese", rel="stylesheet")
    link(rel="shortcut icon", href="icons/favicon.ico", type="image/x-icon")
    link(rel='apple-touch-icon', sizes='57x57', href='icons/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='icons/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='icons/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='icons/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='icons/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='icons/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='icons/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='icons/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='icons/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='icons/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='icons/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='icons/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='icons/favicon/favicon-16x16.png')
    link(rel='manifest', href='icons/favicon/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='icons/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    link(rel="stylesheet", href="css/style.css")
  body
    include ../includes/header.jade
    section.main
        block main
    include ../includes/footer.jade
    include ../includes/scripts.jade
