/*
 *
 * Account css
 *
*/ 

.account-ct{
    width: 500px;
    margin: 0 auto;
    .ttl {
        margin-bottom: 30px;
    }
    label {
        display: block;
        font-family: Arial, Helvetica, sans-serif;
    }
    .change-mail{
        color: @orange;
        float: right;
        &:hover{
            text-decoration: underline;
        }
    }
}

.cus-label{
    position: relative;
    font-weight: normal;
    span{
        position: absolute;
        top: 5px;
        left: 16px;
        pointer-events: none;
        font-size: 11px;
        color: #9DA2A6;
        font-weight: 700;
        line-height: 18px;
    }

    input{
        outline: none;
        width: 100%;
        transition: all 0.1s ease-in-out 0s;
        border: 1px solid #DCDEE0;
        vertical-align: middle;
        border-radius: 2px;
        height: 50px;
        padding: 0px 16px;
        padding-top: 14px;
        color: #555555;
        background-color: #ffffff;
        &:focus{
            border-color: @blue;
        }
    }
    input[readonly] {
        background-color: #DCDEE0;
    }

    select{
        outline: none;
        width: 100%;
        transition: all 0.1s ease-in-out 0s;
        border: 1px solid #DCDEE0;
        vertical-align: middle;
        border-radius: 2px;
        height: 50px;
        padding: 0px 16px;
        padding-top: 14px;
        color: #555555;
        background-color: #ffffff;
        &:focus{
            border-color: @blue;
        }
    }
}

.submit-frm{
    display: block;
    width: 100%;
    padding: 16px 15px;
    font-weight: 700;
    color: #fff;
    background-color: @blue;
    border: none;
    border-radius: 2px;
    .transition(all 0.4s ease);
    &:hover{
        background-color: darken(@blue, 10%);
    }
}


// Auth tab
.auth-itm{
    margin-bottom: 50px;
}


// Api tab
.read-docs{
    color: @orange;
    display: inline-block;
    margin-bottom: 15px;
    &:focus {
        color: @orange;
    }
    &:hover{
        color: @orange;
        text-decoration: underline;
    }
}

.api-tab-itm{
    margin-bottom: 50px;
    button{
        display: inline-block;
        padding: 8px 30px;
        margin-right: 15px;
        font-weight: 700;
        color: #fff;
        border-radius: 2px;
        .transition(all 0.4s ease);
    }
    .download{
        background-color: @blue;
        border: 1px solid @blue;
        &:hover{
            background-color: darken(@blue, 10%);
            border-color: darken(@blue, 10%);
        }
    }
    .docs{
        border: 1px solid @orange;
        color: @orange;
        background-color: #fff;
        &:hover{
            background-color: @orange;
            color: #fff;
        }
    }

    &:last-child{
        border: 1px solid @blue;
        border-radius: 2px;
        padding: 15px;
    }
}


// User tab
.user-tab{
    .ttl{
        margin-bottom: 30px;
    }
}


// Noti tab
.noti-itm{
    margin-bottom: 50px;

    .noti-setting{
        position: relative;
        p{
            .tooltip-inf{
                display: inline-block;
                margin-left: 8px;
                font-size: 18px;
            }
        }
        .cus-chk{
            position: absolute;
            right: 0;
            top: 50%;
            .transform(translateY(-50%));
        }
    }
}
