/*
 *
 * New server
 *
*/ 

.tab-ttl{
    font-size: 20px;
    font-weight: 700;
    line-height: 42px;
    span{
        display: inline-block;
        border-radius: 100%;
        width: 42px;
        height: 42px;
        text-align: center;
        background: linear-gradient(45deg, #135FAC 1%, #1e88e5 64%, #1E87E3 97%);
        color: #fff;
        margin-right: 20px;
        line-height: 38px;
    }
}