block vars
  -title="Manage hosting"
extends layouts/layout
block main
    .main-content
        include includes/user-head.jade
        .container
            .account-content
                .page-head
                    .row
                        .col-md-6.col-xs-12
                            h1.page-ttl 
                                | Toan Nguyen
                                span.user-mail 
                                    i.fa.fa-envelope
                                    | xfireman12345@gmail.com
                        .col-md-6.col-xs-12.text-right
                            a.add-new-server(href="javascript:;") Deploy new server
                .cus-tab
                    .row
                        ul.nav.nav-tabs
                            li.active
                                a(data-toggle='tab', href='#profile') Profile
                            li
                                a(data-toggle='tab', href='#auth') Authentication
                            li
                                a(data-toggle='tab', href='#acc-api') API
                            li
                                a(data-toggle='tab', href='#user-tab') Users
                            li
                                a(data-toggle='tab', href='#noti-tab') Notifications
        .hr-divider
        .container
            .tab-content.cus-tab-ct
                #profile.tab-pane.fade.in.active
                    include blocks/account/profile.jade
                #auth.tab-pane.fade
                    include blocks/account/auth.jade
                #acc-api.tab-pane.fade
                    include blocks/account/api.jade
                #user-tab.tab-pane.fade
                    include blocks/account/user-tab.jade
                #noti-tab.tab-pane.fade
                    include blocks/account/noti-tab.jade