block vars
  -title="Billing"
extends layouts/layout
block main
    .main-content
        include includes/user-head.jade
        .container
            .page-head
                .row
                    .col-md-6.col-xs-12
                        h1.page-ttl 
                            | Billing
                        a.billing-notice(href="#")
                            | $4.80
                            span Charges this month
                        a.billing-notice.text-success(href="#")
                            | $3.39
                            span Remaining credit
                    .col-md-6.col-xs-12.text-right
                        a.add-new-server(href="javascript:;") Deploy new server
                
        .hr-divider.billing-hr
        .container
            .billing-content
                .row
                    .col-md-2.col-xs-12
                        .cus-tab.billing-tab
                            ul.nav.nav-tabs
                                li.active
                                    a(data-toggle='tab', href='#credit-card') 
                                        i.fa.fa-credit-card
                                        | Credit card
                                li
                                    a(data-toggle='tab', href='#atm') 
                                        i.fa.fa-bank
                                        | ATM card
                                li
                                    a(data-toggle='tab', href='#paypal') 
                                        i.fa.fa-cc-paypal
                                        | Paypal
                                li
                                    a(data-toggle='tab', href='#bitcoin') 
                                        i.fa.fa-bitcoin
                                        | Bitcoin
                                li
                                    a(data-toggle='tab', href='#giftcode') 
                                        i.fa.fa-gift
                                        | Gift code
                                li
                                    a(data-toggle='tab', href='#history') 
                                        i.fa.fa-line-chart
                                        | History
                    .col-md-10.col-xs-12
                        .tab-content.cus-tab-ct
                            #credit-card.tab-pane.fade.in.active
                                include blocks/billing/credit-card.jade
                            // END: CREDIT CARD TAB
                            #atm.tab-pane.fade.in.active
                                include blocks/billing/atm.jade
                            // END: ATM CARD TAB
                            #paypal.tab-pane.fade.in.active
                                include blocks/billing/paypal.jade
                            // END: PAYPAL TAB
                            #bitcoin.tab-pane.fade.in.active
                                include blocks/billing/bitcoin.jade
                            // END: BITCOIN TAB
                            #giftcode.tab-pane.fade.in.active
                                include blocks/billing/giftcode.jade
                            // END: GIFTCODE TAB
                            #history.tab-pane.fade.in.active
                                include blocks/billing/history.jade
                            // END: HISTORY TAB