block vars
  -title="Manage hosting"
extends layouts/layout
block main
    .main-content
        
        include includes/user-head.jade
        .container
            .server-content
                .page-head
                    .row
                        .col-md-6.col-xs-12
                            h1.page-ttl Servers
                        .col-md-6.col-xs-12.text-right
                            a.add-new-server(href="javascript:;") Deploy new server
                .cus-tab
                    .row
                        ul.nav.nav-tabs
                            li.active
                                a(data-toggle='tab', href='#instance') Instances
                            li
                                a(data-toggle='tab', href='#snapshot-tab') Snapshots
                            li
                                a(data-toggle='tab', href='#iso-tab') ISO
                            li
                                a(data-toggle='tab', href='#startup-script-tab') Startup Scripts
                            li
                                a(data-toggle='tab', href='#sshkey-tab') SSH Keys
                            li
                                a(data-toggle='tab', href='#dns-tab') DNS
                            li
                                a(data-toggle='tab', href='#backup-tab') Backups
                            li
                                a(data-toggle='tab', href='#block-storage') Block Storage
                            li
                                a(data-toggle='tab', href='#reserved-ips') Reserved IPs
                            li
                                a(data-toggle='tab', href='#firewall-tab') Firewall
        .hr-divider
        .container
            .tab-content.cus-tab-ct
                #instance.tab-pane.fade.in.active
                    include blocks/servers/instance-tab.jade
                // END: INSTANCE TAB
                #snapshot-tab.tab-pane.fade
                    include blocks/servers/snapshot.jade
                // END: SNAPSHOT TAB
                #iso-tab.tab-pane.fade
                    include blocks/servers/iso-tab.jade
                // END: ISO TAB
                #startup-script-tab.tab-pane.fade
                    include blocks/servers/startup-script.jade
                // END: STARTUP SCRIPT TAB
                #sshkey-tab.tab-pane.fade
                    include blocks/servers/ssh-key.jade
                // END: SSH KEYS TAB
                #dns-tab.tab-pane.fade
                    include blocks/servers/dns-tab.jade
                // END: DNS TAB
                #backup-tab.tab-pane.fade
                    include blocks/servers/backup-tab.jade
                // END: BACKUP TAB
                #block-storage.tab-pane.fade
                    include blocks/servers/block-storage.jade
                // END: BLOCK STORAGE TAB
                #reserved-ips.tab-pane.fade
                    include blocks/servers/reserved-ips.jade
                // END: RESERVED IPS TAB
                #firewall-tab.tab-pane.fade
                    include blocks/servers/firewall-tab.jade
                // END: FIRE WALL TAB