block vars
  -title="Manage hosting"
extends layouts/layout
block main
    .main-content
        
        include includes/user-head.jade
        .container
            .server-content
                .page-head
                    h1.page-ttl.text-capitalize.text-center Deploy new instance
                .cus-tab
                    .row
                        ul.nav.nav-tabs
                            li.active
                                a(data-toggle='tab', href='#sd-cloud-compute') Smart DigiTech Cloud Compute
                            li
                                a(data-toggle='tab', href='#snapshot-tab') Storage Instance
                            li
                                a(data-toggle='tab', href='#snapshot-tab') Dedicated Instance
        .hr-divider
        .container
            .tab-content.cus-tab-ct
                #sd-cloud-compute.tab-pane.fade.in.active
                    include blocks/new-server/cloud-compute.jade
                // END: Smart DigiTech Cloud Compute TAB