block vars
  -title="Support"
extends layouts/layout
block main
    .main-content
        
        include includes/user-head.jade
        .container
            .server-content
                .page-head
                    .row
                        .col-md-6.col-xs-12
                            h1.page-ttl Support
                        .col-md-6.col-xs-12.text-right
                            a.add-new-server(href="javascript:;") Deploy new server
                .cus-tab
                    .row
                        ul.nav.nav-tabs
                            li.active
                                a(data-toggle='tab', href='#knowledge') Knowledgebase
                            //- li
                            //-     a(data-toggle='tab', href='#snapshot-tab') Tickets
        .hr-divider
        .container
            .tab-content.cus-tab-ct
                #knowledge.tab-pane.fade.in.active
                    include blocks/support/knowledge.jade
                // END: INSTANCE TAB
                //- #snapshot-tab.tab-pane.fade
                //-     include blocks/servers/snapshot.jade
                // END: SNAPSHOT TAB