/*
 *
 * Billing css
 *
*/ 

.billing-tab {
    margin-top: 50px;
    .nav{
        li{
            display: block;
            width: 100%;
            float: none;
        }
    }
    .nav-tabs{
        >li{
            >a{
                i{
                    margin-right: 8px;
                    display: inline-block;
                    width: 20px;
                }
            }
        }
    }

}

.cus-tab{
    &.billing-tab {
        .nav-tabs{
            border-bottom: none;
            >li{
                margin-bottom: 0;
                >a{
                    margin-right: 0;
                    border-radius: 0;
                    border: none;
                    padding: 10px;
                    margin: 0 15px;
                    .transition(all 0.4s ease);
                    border-radius: 2px;
                    &:hover, &:focus{
                        border: none;
                        color: @orange;
                        background-color: transparent;
                    }
                    &:after{
                        display: none;
                    }
                }
                &.active{
                    >a{
                        border: none;
                        color: #fff;
                        background-color: @orange;
                        &:hover, &:focus{
                            border: none;
                        }
                    }
                }
            }
        }
    }
}


.billing-content{
    .cus-tab-ct {
        padding-top: 50px;
    }
}

.card-frm{
    padding: 50px 0;
    .cus-label{
        display: block;
    }
}

.blk-ttl{
    font-weight: 600;
}

.billing-rdo {
    input[type="radio"] {
        display: none;
    }

    label {
        display: block;
        width: 100%;
        font-size: 15px;
        color: #616366;
        font-weight: 600;
        line-height: 54px;
        height: 54px;
        margin-bottom: 5px;
        display: inline-block;
        border: 1px solid #bbb;
        border-radius: 2px;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
    }

    input[type="radio"] + label:hover {
        border-color: @blue;
    }

    input[type="radio"]:checked + label {
        color: #ffffff;
        border: none;
        background: linear-gradient(45deg, #135FAC 1%, #1e88e5 64%, #1E87E3 97%);
    }
}

.amount-cus{
    display: block;
    width: 100%;
    font-weight: normal;
    input{
        width: 100%;
        display: inline-block;
        border: 1px solid #bbb;
        vertical-align: middle;
        border-radius: 2px;
        height: 54px;
        line-height: 54px;
        outline: none;
        padding: 0px 16px;
        font-size: 14px;
        color: #333;
        background-color: #ffffff;
        &:focus, &:hover{
            border-color: @blue;
        }
    }
    input[disabled] {
        background-color: #bbb;
        &:focus, &:hover{
            border-color: #bbb;
        }
    }
}

.balance-blks{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
    .operator{
        font-size: 40px;
    }
}

.balance-blk{
    display: block;
    width: 28%;
    padding: 10px 10px 10px 10px;
    border: 2px solid #bbb;
    border-radius: 2px;
    text-align: center;
    transition: all ease-in .4s;
    span{
        display: block;
        margin-bottom: 15px;
    }
    .numb{
        font-weight: 700;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
    .notice{
        margin-bottom: 0;
        color: @blue;
    }
    &:hover, &:focus{
        border-color: @blue;
    }
}

.billing-notice {
    display: inline-block;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
    border: 2px solid @orange;
    padding: 10px;
    border-radius: 2px;
    .transition(all .4s ease);
    span {
        font-family: 'Raleway', sans-serif;
        font-weight: normal;
        font-size: 14px;
        display: block;
        color: #444;
    }
    &:hover{
        background-color: @orange;
        color: #fff;
        &.text-success{
            color: #fff;
        }
        span{
            color: #fff;
        }
    }
}